In [2]:
import pandas as pd

titanic_data = pd.read_csv('data/train.csv')

In [3]:
print(titanic_data.shape)
print(titanic_data.describe())
print(titanic_data.info())
print(titanic_data.sample(5))

(891, 12)
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
     PassengerId  Survived  Pclass                        Name     Sex   Age  \
733          734         0       2  Berriman, Mr. William John    male  23.0
114          115         0       3       Attalah, Miss. Malake  female  17.0
632          633         1       1   Stahelin-Maeglin, Dr. Max    male  32.0
385          386         0       2   Davies, Mr. Charles Henry    male  18.0
462          463         0       1           Gee, Mr. Arthur H    male  47.0

     SibSp  Parch        Ticket     Fare Cabin Embarked
733      0      0         28425  13.0000   NaN        S
114      0      0          2627  14.4583   NaN        C
632      0      0         13214  30.5000   B50        C
385      0      0  S.O.C. 14879  73.5000   NaN        S
462      0      0        111320  38.5000   E63        S

In [5]:
titanic_data['Age'].fillna(titanic_data['Age'].median(), inplace=True)

titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0], inplace=True)

titanic_data['FamilySize'] = titanic_data['SibSp'] + titanic_data['Parch']

titanic_data['Sex'] = titanic_data['Sex'].map({'male': 0, 'female': 1})

In [6]:
print(titanic_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    0  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    1  38.0      1      0
2                             Heikkinen, Miss. Laina    1  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    1  35.0      1      0
4                           Allen, Mr. William Henry    0  35.0      0      0

             Ticket     Fare Cabin Embarked  FamilySize
0         A/5 21171   7.2500   NaN        S           1
1          PC 17599  71.2833   C85        C           1
2  STON/O2. 3101282   7.9250   NaN        S           0
3            113803  53.1000  C123        S           1
4            373450   8.0500   NaN        S           0